openapi: 3.1.0
info:
  title: GitHub General API
  description: Basic API to list repositories, get user details, and retrieve metadata.
  version: 1.0.0
servers:
  - url: https://api.github.com/
    description: GitHub API Server

paths:
  /user:
    get:
      operationId: getAuthenticatedUser
      summary: Get authenticated user details
      description: Returns details about the currently authenticated GitHub user.
      responses:
        "200":
          description: Successful response with user details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          description: Unauthorized (invalid or missing token).

  /user/repos:
    get:
      operationId: listUserRepos
      summary: List repositories for the authenticated user
      description: Retrieves all repositories that the authenticated user has access to.
      parameters:
        - name: visibility
          in: query
          required: false
          schema:
            type: string
            enum: [all, public, private]
          description: Filter repositories by visibility.
      responses:
        "200":
          description: Successful response with a list of repositories.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Repository"
        "401":
          description: Unauthorized.

  /user/followers:
    get:
      operationId: getUserFollowers
      summary: Get followers of the authenticated user
      description: Returns a list of followers for the authenticated GitHub user.
      responses:
        "200":
          description: List of followers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
        "401":
          description: Unauthorized.

components:
  securitySchemes:
    githubAuth:
      type: http
      scheme: bearer
      description: GitHub API token (Personal Access Token with basic read access).

  schemas:
    User:
      type: object
      properties:
        login:
          type: string
          description: GitHub username.
        id:
          type: integer
        avatar_url:
          type: string
        html_url:
          type: string
          description: Profile URL.

    Repository:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        full_name:
          type: string
        private:
          type: boolean
          description: Whether the repository is private.
        html_url:
          type: string
          description: URL of the repository.

security:
  - githubAuth: []
